@import url(https://fonts.googleapis.com/css?family=Poppins:400,500,700&display=swap);

*{
    margin:auto;
    font-family:Poppins;
}
.container-fluid{
    padding:0px !important;
}
.navbar-a{
    display:flex;
    position: fixed !important;
    top:0px;
    width:100%;
    background-color:white;
    z-index: 1;
    box-shadow: 0px 5px rgba(49, 44, 44, 0.199);
}
.menu{
    margin-right: 0 !important;
}
.navbar{
    height: 75px !important;
    margin: 0;
    margin-left:0px;
    width:100%;
}
.navbar-brand{
    margin-left: 30px !important;
}
.navbar-nav{
    display: flex;
    flex-direction: row !important;
}
.navbar-nav button{
    height: 40px;
    width:82px;
}
.navbar-nav li{
    padding-right: 35px;
}
.navbar-nav li a{
    color:#2e353b;
}
.sidenav-item{
    display: none;
}
.ham{
    display: none;
}

.header{
    background-color: #f7f8fa;
    /* width:100% !important; */
    
}
.header h1{
    padding-top: 150px;
    padding-bottom:20px;
    font-weight:800;
    text-align: center;  
  }
.header h6{
    text-align: center;   
} 
.header img{
    padding-top:50px;
    display: flex;
}
.block-1-container{
    display: block;
}
.block-1-row-1 h2{
    padding-top:50px;
    text-align: center;
}
.block-1-row-1 h6{
    padding-top:10px;
    text-align: center;
}
.block-1-row-1-btn{
    padding-top:10px;
    padding-bottom:65px;
}
.block-1-row-2{
    display: flex;
    flex-flow: row !important;
    /* flex-wrap: wrap; */
}
.block-1-col-1,.block-1-col-2,.block-1-col-3{
    flex-basis: 25% !important;
    padding-bottom:120px;
}


.block-2-row-img img,
.block-3-row-img-dump img,
.block-3-row-img img{
    /* width:inherit; */
    max-width: 100%;
    height: auto;
}
.block-3{
    margin-top:80px ;
}
.block-3-row-img-dump{
    display:none;
}
.block-4{
    margin-top:85px;
}
.block-4-row {
    display:block !important;
}
.block-4-row-1 h2{
    text-align:center;
    font-weight: 700;
}
.block-4-row-1 h6{
    padding-top:6px;
    text-align:center;
    
}
.block-4-row-2{
    text-align: center;
    padding-top:20px;
}
.block-5-row-1{
    display:block !important;
}
.img-card{
    padding:65px 35px;
    height: 250px;
    width:fit-content;
}
.block-5-row-2-col-1-img{
    background-color:#1998ff;
    padding-top: 50px !important;
    padding-bottom:100px !important;
}


.block-5-row-2{
    
}
.block-5-row-2-col-6{ 
}

.block-5-row-2-col-3{
    margin-left: auto !important;
    margin-right: auto !important;
    max-width: 100% !important;
}

.block-5-row-2-col-2-img{
    background-color: #fcd966!important;
}

.block-5-row-2-col-3{
    margin-right:auto !important;
    margin-left:auto !important;

}
.block-5-row-2-col-3-img{
    background-color: #bbbbf2;
}
.block-5-row-2-col-4-img{
    background-color:#88bf4d!important;
}
.block-5-row-1 h3{
    text-align: center;
    padding-top: 80px;
    font-weight:700;
}
.block-5-row-1 h6{
    padding-bottom:40px;
    text-align: center;
}
.text-card {
    text-align: center;
}
/**
.hovertext{
    padding:65px 35px;
    position: absolute;
    top:0;
    background-color:rgb(0 0 0 / 80%);
    width:90%;
    height: 250px;
    text-align: center;
}
.hovertextin{
    margin-top:80px;
}
.hovertext:hover{  
}**/
.block-5-row-2{
    margin-bottom:120px
}


.block-5-row-2-col-1-img img,
.block-5-row-2-col-2-img img,
.block-5-row-2-col-3-img img,
.block-5-row-2-col-4-img img{
    width: max-content;
}





.block-6-row-1-text{
    display:block !important;
}
.block-6{
    text-align: center;
}
.block-6-row-1-btn{
    padding-top:10px;
    margin-bottom:110px;
}
.footer{
    border-top: 1px solid gray;
}
.footer-2,.footer-1,.footer-row{
    display:flex !important;
}
.flex-50{
    flex-basis: 100%;
}
.footer-1-row1{
    margin-left:30px;
}
.footer-container{
    padding-top:80px;
   
    padding-left:0px !important;
    padding-right:0px !important;
    align-items: center;
}

.footer-2-col1,.footer-2-col2{
    margin: 0 !important;
    max-width: 50% !important;
    flex-basis: 100% !important;
    margin-bottom:90px !important;
}
.footer-2-col1 a,.footer-2-col2 a{
    text-decoration: none;
    color: #6e6e6e;
}
.footer-row2{
    margin-bottom:10px;
}




/* sidenav */
    .container-fluid,.navbar{
        padding:0px !important;
        height: 65px;
    }
    /* .navbar-brand{
        display:block !important;
        margin-top: 10px;
    } */
    .sidenav-itemsnav{
        display: flex;
        margin-bottom: 10px;
    }
    .closebtnsnav{
        color:#2e353b;
        font-size:50px;
    }
    .navbar-navsnav{
        display: block;
        position: absolute;
        background-color:white;
        top: 0;
        right: 0;
        margin-bottom: 0;
        height: 100pc;
        width: 250px;
        padding-left: 0px;
    }
    .navbar-navsnav li{
        display: flex;
        padding-bottom:20px;
    }
    .navbar-navsnav a{
        
        text-align: center;
    }
    .sidenav-itembtnsnav{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .sidenav-itembtnsnav button{
        margin-bottom: 13px;
    }


@media only screen and (max-width: 1000px){
    .ham{
        display: flex;
        margin-right: 23px;
    }
    .navbar-nav{
        display: none !important;
    }
    .block-1-row-2{
        flex-flow: column;
    }
    /* 
    .block-1-col-1,.block-1-col-2,.block-1-col-3{
        flex-basis: 100%;
        flex-flow: column;
    }
    .block-2-row,.block-3-row{
        flex-flow: column;
    }  */
    .block-3-row-img{
        display: none;
    }
    .block-3-row-img-dump{  
        display:block;
    }
    .footer-1-row1{
        text-align: left;
    }
}

@media only screen and (max-width: 600px){

    .block-5-row-2-col-6{
        flex-flow: column;
    }
    .footer-2{
        flex-flow: column;
    }
    .header img{
        width:inherit;
    }
    .block-1-row-2{
        display: flex;
        flex-flow: column !important;
        text-align: center !important;
    }
    }
    .block-5-row-2-col-1-img,
    .block-5-row-2-col-2-img,
    .block-5-row-2-col-3-img,
    .block-5-row-2-col-4-img{
        text-align: center !important;
    }
    .footer{
        text-align: center;
    }
    .footer-1-row1{
        margin:auto !important;
        padding: 0 25px;
        text-align: center;
    }
    .footer-col-hidden{
        display: none;
    }
}
